* {
  background-color: #7d9dd6;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.Homenavbar{
  margin-top: 5px;
}

.NavItem{
  padding: 1rem;
  margin: 2rem;
  align-content: center;  
}

.home-image {
  max-height: 200px;
  width: auto;
  padding: 0.5rem;
}

.page-title {
  align-content: center;
  display: flexbox;
  text-align: center;
}

.home-text p{
  text-align: center;
}

.Gundam-Logo{
  padding-bottom: 50px;
  padding-top: 20px;
}
